$primaryColor: #cdb4db;  
$secondaryColor1: #ffc8dd;     
$secondaryColor2: #ffafcc;          
$accentColor1: #bde0fe;             
$accentColor2: #a2d2ff;             
$neutralDark: #424242;             
$neutralLight: #FFFFFF;